/* LATO */
/* THIN */
@font-face {
  font-family: 'Lato';
  font-weight: 100;
  src: url(Lato-Thin.ttf)
}
/* THIN ITALIC */
@font-face {
  font-family: 'Lato';
  font-weight: 100;
  font-style: italic;
  src: url(Lato-ThinItalic.ttf);
}
/* LIGHT */
@font-face {
  font-family: 'Lato';
  font-weight: 300;
  src: url(Lato-Light.ttf);
}
/* LIGHT ITALIC */
@font-face {
  font-family: 'Lato';
  font-weight: 300;
  font-style: italic;
  src: url(Lato-LightItalic.ttf);
}
/* REGULAR */
@font-face {
  font-family: 'Lato';
  font-weight: 400;
  src: url(Lato-Regular.ttf);
}
/* REGULAR ITALIC */
@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-style: italic;
  src: url(Lato-Italic.ttf);
}
/* BOLD */
@font-face {
  font-family: 'Lato';
  font-weight: 700;
  src: url(Lato-Bold.ttf);
}
/* BOLD ITALIC */
@font-face {
  font-family: 'Lato';
  font-weight: 700;
  font-style: italic;
  src: url(Lato-BoldItalic.ttf);
}
